
registry=https://registry.npmjs.org/
# Use internal feed only for your package name
abrplus-ui-kit:registry=https://tfs.1st.co.com/tfs/AbrPlus/AbrPlus-UI-Kit/_packaging/ABRPLUS-UI-KIT/npm/registry/
//tfs.1st.co.com/tfs/AbrPlus/_packaging/ABRPLUS-UI-KIT/npm/registry/:_authToken=${NPM_TOKEN}
always-auth=true