name: Drive-Link-Test

trigger:
  branches:
    include:
      - main

pool:
  name: Dev Agents

steps:
  - checkout: self
    clean: true

  - powershell: |
      $url = "https://drive.usercontent.google.com/u/0/uc?id=1IcnNf7YUzIkceDeW-8aI3eCxbEWLOTxv&export=download"
      $file = "$(Agent.TempDirectory)\file.json"

      Invoke-WebRequest -Uri $url -OutFile $file -UseBasicParsing

      try {
       Get-Content $file -Raw | ConvertFrom-Json | Out-Null
       Write-Host "✅ File is valid JSON"
      }
      catch {
       Write-Error "❌ File is NOT valid JSON"
      }
    displayName: "Download & validate JSON"
