@theme {
  /* -------------------- */
  /* Fonts */
  /* -------------------- */
  --font-yekan-normal: YekanBakhFaRegular;
  --font-yekan-medium: YekanBakhFaMedium;
  --font-yekan-light: YekanBakhFaLight;
  --font-yekan-bold: YekanBakhFaBold;

  --font-roboto-normal: RobotoRegular;
  --font-roboto-light: RobotoLight;
  --font-roboto-medium: RobotoMedium;
  --font-roboto-bold: RobotoBold;

  /* -------------------- */
  /* Colors */
  /* -------------------- */
  --color-white-ff: #ffffff;
  --color-white-ff-10: #ffffff10;
  --color-white-ff-15: #ffffff15;
  --color-white-ff-20: #ffffff20;
  --color-white-ff-35: #ffffff35;

  --color-light-1: #f8f9fb;
  --color-light-2: #f1f3f8;
  --color-light-3: #f9fbff;
  --color-light-4: #f7fafe;
  --color-light-5: #ebf3ff;
  --color-light-6: #eaeff5;
  --color-light-7: #d9e1ea;

  --color-primary: #435879;
  --color-primary-dark-1: #2b4063;
  --color-primary-dark-2: #192540;
  --color-primary-light-1: #516b93;
  --color-primary-light-2: #91a8c3;
  --color-primary-light-3: #b8c7d8;

  --color-secondary: #1e51c1;
  --color-secondary-dark-1: #163b8e;
  --color-secondary-light-1: #2159d4;
  --color-secondary-light-2: #386de0;

  --color-tertiary: #1ba9c7;
  --color-tertiary-dark-1: #489fb5;

  --color-negative: #c9252d;
  --color-negative-dark-1: #bb121a;
  --color-negative-light-1: #d7373f;
  --color-negative-light-2: #e34850;
  --color-negative-light-3: #f6d8da;
  --color-negative-light-4: #f9e3e4;
  --color-negative-light-5: #fdf3f3;

  --color-positive: #268e6c;
  --color-positive-dark-1: #12805c;
  --color-positive-dark-2: #107154;
  --color-positive-light-2: #2d9d78;
  --color-positive-light-3: #eefaf6;

  --color-sales-action: #ec6c2c;
  --color-sales-action-dark-1: #bc5624;
  --color-sales-action-light-1: #ff8136;
  --color-sales-action-light-2: #ff973e;
  --color-sales-action-light-3: #ffac48;

  --color-call-action: #8345c9;
  --color-call-action-dark-1: #6837a0;
  --color-call-action-light-1: #9d52f1;
  --color-call-action-light-2: #b760ff;
  --color-call-action-light-3: #d16eff;

  --color-marketing-action: #2962ff;
  --color-marketing-action-dark-1: #1043ce;
  --color-marketing-action-light-1: #3175ff;
  --color-marketing-action-light-2: #3d8cff;
  --color-marketing-action-light-3: #4ea3ff;

  --color-club-action: #d21369;
  --color-club-action-dark-1: #a80f54;
  --color-club-action-light-1: #fc167e;
  --color-club-action-light-2: #ff1a93;
  --color-club-action-light-3: #ff27ab;

  --color-team-action: #B5179E;
  --color-team-action-dark-1: #9E218C;
  --color-team-action-light-1: #D834C0;
  --color-team-action-light-2: #F841DD;
  --color-team-action-light-3: #FF56E6;

  --color-desk-action: #50C877;
  --color-desk-action-dark-1: #3B965B;
  --color-desk-action-light-1: #60D38F;
  --color-desk-action-light-2: #6BDBA2;
  --color-desk-action-light-3: #80E9BF;

  --color-form-action: #00BFA5;
  --color-form-action-dark-1: #00927E;
  --color-form-action-light-1: #00CCB7;
  --color-form-action-light-2: #03D5C4;
  --color-form-action-light-3: #05E4DB;

  --color-task-action: #5066D4;
  --color-task-action-dark-1: #3C4C9F;
  --color-task-action-light-1: #617ADD;
  --color-task-action-light-2: #6D8AE3;
  --color-task-action-light-3: #81A2EE;

  --color-rayan-action: #5066D4;
  --color-rayan-action-dark-1: #3C4C9F;
  --color-rayan-action-light-1: #617ADD;
  --color-rayan-action-light-2: #6D8AE3;
  --color-rayan-action-light-3: #81A2EE;

  --color-black: #000000;
  --color-transparent: transparent;
}
