@import 'jalaali-react-date-picker/lib/styles/index.css';
@import '../../components/molecules/input/index.css';
@import '../../components/molecules/timePicker/index.css';
@import '../../components/molecules/select/index.css';
@import '../../components/atoms/tab/index.css';
@import '../../components/atoms/card/index.css';
@import '../../components/atoms/collapse/index.css';
@import '../../components/antOverrides/upload/index.css';
@import '../../components/antOverrides/breadcrumb/index.css';

@font-face {
  font-family: YekanBakhFaRegular;
  src: url('../../assets/fonts/yekanbakh/YekanBakh-Fa-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YekanBakhFaMedium;
  src: url('../../assets/fonts/yekanbakh/YekanBakh-Fa-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YekanBakhFaLight;
  src: url('../../assets/fonts/yekanbakh/YekanBakh-Fa-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YekanBakhFaBold;
  src: url('../../assets/fonts/yekanbakh/YekanBakh-Fa-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: RobotoRegular;
  src: url('../../assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: RobotoLight;
  src: url('../../assets/fonts/roboto/Roboto-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: RobotoMedium;
  src: url('../../assets/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: RobotoBold;
  src: url('../../assets/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-display: swap;
}

/* Chrome and Safari */
.custom-scrollbar::-webkit-scrollbar {
  @apply w-4;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#91a8c3];
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  /* scrollbar-width: none;  Firefox */
}

/* Chrome, Safari, and Edge */

.invisible-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.invisible-scroll::-webkit-scrollbar-track,
.invisible-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Small Horizontal Scrollbar */
.small-custom-scrollbar-horizontal::-webkit-scrollbar {
  @apply h-2;
}

.small-custom-scrollbar-horizontal::-webkit-scrollbar-track {
  @apply bg-none;
}

.small-custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#91a8c3];
}

.tiny-custom-scrollbar-horizontal::-webkit-scrollbar {
  @apply h-[3px];
}

.tiny-custom-scrollbar-horizontal::-webkit-scrollbar-track {
  @apply bg-none;
}

.tiny-custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#91a8c3];
}

/* Small Vertical Scrollbar */
.small-custom-scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.small-custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-none;
}

.small-custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#91a8c3];
}

/* Tiny Scrollbar */
.tiny-custom-scrollbar::-webkit-scrollbar {
  @apply w-[3px];
}

.tiny-custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-none;
}

.tiny-custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#91a8c3];
}

@supports (-moz-appearance: none) {
  /* Firefox Support */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #91a8c3 transparent;
    z-index: 10;
  }

  .small-custom-scrollbar-horizontal {
    scrollbar-width: thin;
    scrollbar-color: #91a8c3 transparent;
  }

  /* Small Vertical Scrollbar */
  .small-custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #91a8c3 transparent;
  }

  /* Tiny Scrollbar */
  .tiny-custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #435879 transparent;
  }
}
