@tailwind base;
@tailwind components;
@tailwind utilities;

#storybook-docs {
  direction: ltr;
  overflow: auto;
  height: 100vh;
}
.sb-show-main.sb-main-padded {
  padding: 0;
}

.docs-story {
  direction: rtl;
}

.ant-input-outlined:focus
.ant-input-outlined:focus-within
.ant-input-outlined:active {
  border-color: var(--primary-dark-1) !important;
  box-shadow: none  !important;
}
