@tailwind base;
@tailwind components;
@tailwind utilities;

#storybook-docs {
  direction: ltr;
  overflow: auto;
  height: 100vh;
}
.sb-show-main.sb-main-padded {
  padding: 0;
}

.docs-story {
  direction: rtl;
}
