.inputErrorMessageContainer {
  @apply pb-6 relative
}


.inputErrorMessageContainer :is(.inputErrorMessage, .helperText) {
  @apply absolute bottom-0
}


.ant-input-affix-wrapper:is(:focus, :focus-within, :hover) {
  @apply !shadow-none;
}


.ant-input-outlined:hover,
.ant-input-outlined:focus,
.ant-input-outlined:focus-within,
.ant-input-outlined:active {
  border-color: var(--primary-dark-1) !important;
  box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}